---
title: Miniboule - Panties with style
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "peach.png" %>
  </div>
  <h1>... Our panties suits your boule ...</h1>
  <p class="doc">
    <%= link_to "Shop the Collection", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
